<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather in <%=city%></title>
    <link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <h1 class="cityweather">Temperature in <%=city%> is <%=temp%> degree celcius.</h1>
    <h1 class="heading">Experience <%=weatherDescription%></h1>
    <img src="<%=url%>" alt="">
    <a href="http://localhost:3000">Go back</a>
</body>
</html>